//colors
@import "layout/mixins.scss";
@import "layout/media.scss";
$orange:#f9b43b;
$ginger: #e45028;
$black:#2f3234;

//


//layout

@import "layout/normalize.scss";
@import "layout/fonts.scss";
@import "layout/base.scss";

//


//blocks

@import "blocks/header.scss";
@import "blocks/aside.scss";
@import "blocks/block-main.scss";
@import "blocks/scroll-down.scss";
@import "blocks/best-content.scss";
@import "blocks/reviews-content.scss";
@import "blocks/scroll-down.scss";
@import "blocks/scroll-down.scss";
@import "blocks/delivery-content.scss";
@import "blocks/job-content.scss";
@import "blocks/accordeon-team.scss";
@import "blocks/accordeon-menu.scss";
@import "blocks/contacts-footer-content.scss";



.section{
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

//



