//colors
@import "layout/mixins.scss";
$orange:#f9b43b;
$ginger: #e45028;
$black:#2f3234;

//


//layout

@import "layout/normalize.scss";
@import "layout/fonts.scss";
@import "layout/base.scss";

//


//blocks

@import "blocks/header.scss";
@import "blocks/aside.scss";
@import "blocks/block-main.scss";
@import "blocks/scroll-down.scss";
@import "blocks/best-content.scss";
@import "blocks/reviews-content.scss";
@import "blocks/scroll-down.scss";
@import "blocks/scroll-down.scss";


//


.section--main{
    background: url('img/burger-bck.png');
  /*  height: 650px; */
}

.burger__container{
    display: flex;
    justify-content: center;
    height: 72%;
}
.conainer--main{
    display: flex;
    flex-direction: column;
}
.reviews--container{
    display: flex;
    flex-wrap: wrap;
}

.section{
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.best--container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section--team{
    background-image: url('img/team-bck.png');
    position: relative;
}
.accordeon{
    width: 50%;
    height: 100%;
    background-color: rgba(#303334,0.9);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordeon__content{
    display: flex;
    flex-direction: column;
}
.accordeon__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordeon__btn{
    @include Gagalin();
    color: white;
    font-size: 14px;
    text-transform: uppercase;

    &--active{
        color: $orange;
    }

     &::before{
         content: '';
         border: 5px solid transparent;
         border-top: 7px solid #f9b43b;
         position: absolute;
         right: 100%;
         top: 7px;
         margin-right: 8px;
     }
    
}


.accordeon__btn--active::before{
        border: 5px solid transparent;
        border-bottom: 7px solid #f9b43b;
        position: absolute;
        right: 100%;
        transform: rotate(180deg);
        margin-right: 8px;
}

.accordeon__info{
   max-height: 100px;
   display: flex;
   margin-top: 17px;
   margin-bottom: 22px;
   
    &--hidden{
        height: 0;
        overflow: hidden;
        color:white;
    }
}
.accordeon__ava{
    background-image: url('img/team-ava.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.accordeon__desc{
    max-width: 208px;
    @include Ubuntu300();
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    margin-left: 21px;
}
.accordeon__info-headline{
    font-weight: bold;
}
.accordeon__item{
 position: relative;
}











.section--job{
    background-image: url('img/job-bck.png');
}
.job-photo{
    background-image: url('img/job-photo.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;


      &::after{
        content: '';
        background-image: url('img/job-player.png');
        position: absolute;
        height: 35px;
    }
}
.container--job{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}





.section--contacts{
    background-image: url('img/contacts-bck.png');
    position: relative;
    
}
.container--footer{
 display: flex;
}
.footer{
    position: absolute;
    background-image: url('img/footer-bck.png');
    height: 60px;
    width: 100%;
    bottom: 0;
}
.footer__contacts{
    @include Ubuntu300();
    font-size: 14px;
    color: white;
    line-height: 1.71;
    min-width: 275px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__contacts-number{
    font-weight: bold;
    color: $ginger;
}
.footer__social{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__social-list{
    display: flex;
}
.footer__social-item{
    margin-left: 20px;

     &:hover{
         .social-logo{
             fill: white;
         }
     }
}

.phone{
    height: 12px;
    width: 11px;
    margin-bottom: -2px;
    margin-right: 5px;
}

.section--menu{
    background-image: url('img/menu-bck.png');
    position: relative;
}
.accordeon-menu__list{
    color: white;
    display: flex;
    height: 100%;
}
.accordeon-menu__btn{
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.accordeon-menu__item{
    display: flex;

    &:hover{
        .accordeon-menu__content{
            max-width: 500px;
        }
    }
    &:hover{
        .headline--accordeon{
            color: $orange;
        }
    }
}
.headline--accordeon{
    font-size: 38px;
    margin-bottom: 50px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.accordeon-menu__content{
    @include Ubuntu300();
    font-size: 14px;
    background-color: rgba(black, 0.5);
    max-width: 0;
    overflow: hidden;
    transition: 0.5s;
    height: 100%;
}
.accordeon-menu__text{
    width: 500px;
    padding: 60px 5px 0px 20px;
}
.accordeon-menu{
    position: absolute;
    display: flex;
    height: 100%;
    right: 0;
}



.section--delivery{
    background-image: url(img/delivery-bck.png);
}
.container--delivery{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.form__text{
    @include Ubuntu300();
    font-size: 14px;
    line-height: 1.71;
    color: white;
}
.form__column{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 1;

     &:first-child{
         margin: 0;
     }
}
.form__input{
    border-radius: 5px;
    width: 100%;
    height: 36px;
}
.form__row{
    display: flex;
    flex: 1;
    margin-bottom: 19px;
      
      &:last-child{
          margin: 0;
      }
      &:nth-child(3){
          margin:0;
      }
}
.form__label{
    flex: 1;
    margin-right: 20px;
      
     &:last-child{
         margin: 0;
     }
}
.form{
    display: flex;
    margin-top:65px;
}
.form__textarea{
    resize: none;
    height: 110px;
    flex: 1;
    width: 100%;
    border-radius: 5px;
}
.radio-label{
    @include Ubuntu300();
    font-size: 14px;
    color: white;
    display: flex;
}
.radio-input{
    position: absolute;
    opacity: 0;
}
.radio-input:checked + .radio-content .radio-btn:after{
    opacity: 1;
 }
.radio-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;

     &:after{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: $ginger;
        border-radius: 50%;
        opacity: 0;
        transition: 0.2s;
     }
}
.radio-content{
    display: flex;
    margin-right: 15px;
}
.checkbox-text{
    @include Ubuntu300();
    font-size: 14px;
    color: white;
    margin-left:10px;
}
.input-checkbox{
    width: 16px;
    height: 16px;
}