@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin Ubuntu500 {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
}
@mixin UbuntuNormal {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: normal;
}
@mixin Ubuntu300{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
}
@mixin UbuntuBold{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-style: normal;
}
@mixin Gagalin{
    font-family: 'Gagalin';
    font-weight: normal;
    font-style: normal;
    font-size: rem(72px);
}
@mixin Lifehack{
    font-family: 'Lifehack';
    font-weight: 500;
    font-style: normal;
}
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}