.fullscr-btn__elem{
    width: rem(27px);
    height: rem(4px);
    background-color: white;
    border-radius: 4px;
    margin-bottom: rem(4px);
}
.fullscr-btn{
    position: fixed;
    top:3.5%;
    right: 3%;

    display: none;

    @include tablets{
        display: block;
        top: 3.8%;
    }
    @include phones{
        top: 5%;
    }
}



.aside-menu{
    background: rgba(47, 50, 52, 0.99);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -10000px;
    padding-top: 15px;
    padding-left: 7px;
    transition: 0.5s;
}


.aside-menu__list{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.aside-menu__elem{
    margin-bottom: rem(40px);
    position: relative;

    &:last-child{
        margin: 0;

        .aside-menu__link{
            &::after{
                content: '';
            }
        }
    }

    
}

.aside-menu__link{
    @include Ubuntu500;
    font-size: 24px;
    text-transform: uppercase;

     &:after{
        position: absolute;
        content: "•";
        top: rem(35px);
        right: 50%;
        color: #ffffff;
     }
}
.cross{
    position: absolute;
    right: 5%;
    top: 4%;
}