.main{
    @include flex();

     @include tablets{
         flex-direction: column;
     }
     @include phones{
        padding: 0 12%;
     }
}
.main__tagline-headline{
    @include Gagalin();
    color: $orange;
    padding-top: rem(30px);

    @include phones{
        font-size: rem(63px);
    }
}
.main__tagline-text{
    @include Lifehack();
    color: white;
    font-size: rem(60px);
    line-height: 0.92;

    @include phones{
        font-size: rem(42px);
    }
}
.main__tagline{
    margin-left: rem(15px);
    max-width: rem(406px);
    min-height: rem(330px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: rem(50px);

     @include tablets{
         text-align: center;
         padding: 0;
         margin: 0;
         max-height: 100%
     }
     @include phones{
         min-height: 16rem;
     }
}
.burger__container{
    display: flex;
    justify-content: center;
    height: 72%;
}
.section--main{
    background: url('img/burger-bck.png');
  /*  height: 650px; */
}
.main__burger-icon{
    max-width: 100%;
}