.header{
    margin-bottom: 20px;
    padding-top:13px;
}
.nav__list{
    @include Ubuntu500;
    font-size: 13px;
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}
.nav__list-item{
    margin-right: 14px;


    &:before{
        content: '•';
        margin-right: 15px;
        color: white;
    }


   &:nth-child(1):before{
       content: '';
    color: black;
    margin-right: 0;
   }

}
.nav{
    display: flex;
    margin-left: 49px;
}
.header-btn{
    @include Ubuntu500();
    @include flex();
    font-size: 13px;
    width: 97px;
    height: 35px;
    border-radius: 5px;
    background-color: $ginger;
    text-transform: uppercase;

    &:hover{
        background-color: $orange;
        transition: 0.3s;
    }
}