.header{
    margin-bottom: rem(20px);
    padding-top:rem(13px);
}
.nav__list{
    @include Ubuntu500;
    font-size: rem(13px);
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;

      @include tablets{
          display: none;
      }
}
.nav__list-item{
    margin-right: rem(14px);


    &:before{
        content: '•';
        margin-right: rem(15px);
        color: white;
    }


   &:nth-child(1):before{
       content: '';
    color: black;
    margin-right: 0;
   }

}
.nav{
    display: flex;
    margin-left: rem(49px);
}
.header-btn{
    @include Ubuntu500();
    @include flex();
    font-size: rem(13px);
    width: rem(97px);
    height: rem(35px);
    border-radius: 5px;
    background-color: $ginger;
    text-transform: uppercase;

    &:hover{
        background-color: $orange;
        transition: 0.3s;
    }
}