.arrow-scroll__absolute{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
}
.arrow-scroll{
    background-image: url('img/arrow-scroll.svg');
    width: 29px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
}