*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    
    a{
     text-decoration: none;
     color: white;
    }
    .container{
    height: 100%;
    max-width: 1105px;
    margin: 0 auto;
    }
    .header--container{
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .wrapper{
       width:100vw;
    }
    
    body{
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
    }
    .headline{
        @include Gagalin();
 
      &--color{
        &--black{
            color: $black;
        }
        &--orange{
            color: $orange;
        }
        &--white{
            color: white;
            margin: 65px;
        }
      }
      &--best{
          margin-bottom: 55px;
          text-align: center;
      }
      &--team{
          margin-bottom: 46px;
      }
      &--job{
          margin-bottom:50px;
          text-align: center;
      }
    }
    button{
    text-decoration: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    }