.scroll{
    display: flex;
    justify-content:center;
    padding-bottom: rem(45px);

     @include phones{
         padding: 0;
     }
}
.arrow-scroll__icon{
    width: rem(30px);
}
.arrow-scroll__absolute{
    transition: 0.4s;
    &:hover{
        transform: scale(1.5);
    }
}