.best__headline{
    @include Gagalin();
    color: $black;
    text-align: center;
    margin-bottom: rem(55px);
}
.best__content{
    padding-top: rem(135px);
}
.best__img{
    margin-bottom: rem(33px);
}
.section--best{
    background: url('../img/best-bck.png') no-repeat center center;
}
.best__info-headline{
    @include Lifehack();
    font-size: rem(24px);
    color: $black;
    margin-bottom: rem(25px);

     @include phones{
         margin-bottom: rem(12px);
     }
}
.best__info-text{
    @include Ubuntu300();
    color: rgba(47, 50, 52, 0.8);
    font-size: rem(14px);
    line-height: 1.71;
}
.best__info{
    display: flex;
    list-style: none;
    justify-content: center;

     @include phones{
         flex-direction: column;
     }
}
.best__info-elem{
    max-width: rem(284px);
    width: 33%;
    margin-right: rem(36px);
    text-align: center;

     @include phones{
         width: 100%;
         max-width:100%;
         display:flex;
         text-align:left;
         margin-right:0;
     }
}
.best--container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.best__svg{
    width: rem(93px);
    height: rem(93px);
    max-width: 100%;
}
.best__info-block{
    @include phones{
        margin-left: 20px;
    }
}