.section--job{
    background-image: url('../img/job-bck.png');
}
.job-photo{
    background-image: url('img/job-photo.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: rem(600px);


      &::after{
        content: '';
        background-image: url('img/job-player.png');
        position: absolute;
        height: rem(35px);
    }
}
.container--job{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}